@import "tailwindcss";

:root {
  --background: #1e293b;
  --foreground: #f8fafc;
}

@font-face {
  font-family: "IRANSans";
  src: url("/assets/fonts/IRANSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: "IRANSans", var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #1e293b;
    --foreground: #f8fafc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IRANSans", sans-serif;
}

/* Scroll style for chat */
.chat-scroll::-webkit-scrollbar {
  width: 6px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.4);
  border-radius: 10px;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.7);
}

/* Firefox */
.chat-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(150,150,150,0.4) transparent;
}

